@using Microsoft.AspNetCore.Identity
@using eShop_Mvc.Core.Entities
@using eShop_Mvc.Extensions
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
        <img src="@User.GetSpecificClaim("Avatar")" alt="">@User.GetSpecificClaim("FullName")
    </a>
    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="javascript:;"> Profile</a>
        <a class="dropdown-item" href="javascript:;">
            <span>Settings</span>
        </a>
        <a class="dropdown-item" href="javascript:;">Help</a>
        <form class="navbar-right" action="/Admin/Account/Logout" method="post" id="frmLogout">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>

}
else
{
    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="javascript:;">Register</a>

        <a class="dropdown-item" href="javascript:;">Login</a>
    </div>
}