@model List<FunctionViewModel>

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
            {
                <li>
                    <a><i class="fas @item.IconCss"></i> @item.Name <span class="fas fa-chevron-down"></span></a>
                    @if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <ul class="nav child_menu">
                            @foreach (var child in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><a href="@child.URL">@child.Name</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>