<div id="modalAddEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin User</h5>
                <button type="button" class="bootbox-cancel close" data-dismiss="modal" aria-hidden="True">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="frmEdit" role="form" class="form-horizontal">
                        <div class="form-group" style="display: flex">
                            <input type="hidden" id="hidIdM" value="" />
                            <label for="txtFullName" class="col-sm-2 control-label no-padding">Tên người dùng</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtFullName" class="form-control" id="txtFullName" />
                            </div>
                        </div>

                        <div class="form-group" style="display: flex">
                            <label for="txtUserName" class="col-sm-2 control-label no-padding">Tên tài khoản</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtUserName" class="form-control" id="txtUserName" />
                            </div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label for="txtPassword" class="col-sm-2 control-label no-padding">Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtPassword" class="form-control" id="txtPassword" />
                            </div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label for="txtConfirmPassword" class="col-sm-2 control-label no-padding">Xác nhận mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtConfirmPassword" class="form-control" id="txtConfirmPassword" />
                            </div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label for="txtEmail" class="col-sm-2 control-label no-padding">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="txtEmail" class="form-control" id="txtEmail" />
                            </div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label for="txtPhoneNumber" class="col-sm-2 control-label no-padding">SĐT</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber" />
                            </div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label for="txtImage" class="col-sm-2 control-label no-padding">Ảnh đại diện</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                    <input type="file" id="fileInputImage" style="display: none" />
                                    <span class="input-group-btn">
                                        <input type="button" class="btn btn-primary" id="btnSelectImg" value="Chọn ảnh" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label no-padding">Quyền</label>
                            <div class="col-sm-10" id="list-roles"></div>
                        </div>
                        <div class="form-group" style="display: flex">
                            <div class="col-sm-10">
                                <div class="float-right">
                                    <label>
                                        <input type="checkbox" id="ckStatus" checked="checked" />
                                        <span class="text">Active</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary">Lưu</button>
                <button type="button" id="btnCancel" class="btn btn-dark" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>