@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<div class="page-title">
    <div class="title_left">
        <h3>Đổi mật khẩu</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Đổi mật khẩu</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form method="post">
                    <div class="item form-group">
                        <div asp-validation-summary="All" class="text-danger mx-auto"></div>
                    </div>

                    <div class="item form-group">

                        <label asp-for="CurrentPassword" class="col-form-label col-md-3 col-sm-3 label-align">Mật khẩu </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="CurrentPassword" name="currentPassword" class="form-control" id="txtCurrentPassword" required="" />
                        </div>
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="item form-group">
                        <label asp-for="NewPassword" class="col-form-label col-md-3 col-sm-3 label-align">Mật khẩu mới</label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewPassword" name="newPassword" class="form-control" id="txtNewPassword" required="" />
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="item form-group">
                        <label asp-for="ConfirmNewPassword" class="col-form-label col-md-3 col-sm-3 label-align">Xác nhận mật khẩu</label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="ConfirmNewPassword" name="confirmNewPassword" class="form-control" id="txtConfirmNewPassword" required="" />
                        </div>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-5">
                            <button type="submit" id="btnConfirmChangePassword" class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>