@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Danh sách người dùng";
}
@section Scripts{
    <script src="~/app/Controller/User/index.js" asp-append-version="true"></script>
    <script>
        var user = new UserController();
        user.initialize();
    </script>
}
<input type="hidden" id="hid-category-id" />
<div class="page-title">
    <div class="title_left">
        <h3>Danh sách User hệ thống </h3>
    </div>

    <div class="title_right">
        <div class="col-md-6 col-sm-6 form-group pull-right">
            <div class="input-group">
                <button id="btnCreateUser" class="btn btn-success">Tạo</button>
                <input type="text" class="form-control" id="txt-search-keyword" placeholder="Tìm kiếm">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm kiếm</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tác vụ</th>
                            <th>Tên tài khoản</th>
                            <th>Họ tên</th>
                            <th>Avatar</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content">
                    </tbody>
                </table>
                @*Pagination*@
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" roles="status" aria-live="polite">
                            <select id="ddl-show-page">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">Bản ghi/ trang</span>
                            Tổng số bản ghi: <strong id="lbl-total-records"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_number" id="datatable-checkbox_paginate">
                            <ul id="paginationUL">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <button class="btn btn-primary btn-sm btn-edit" data-id="{{Id}}"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}"><i class="fas fa-trash"></i></button>
        </th>
        <th>{{UserName}}</th>
        <th>{{FullName}}</th>
        <th>{{Avatar}}</th>
        <th>{{DateCreated}}</th>
        <th>{{{Status}}}</th>
    </tr>
</script>
<script id="role-template" type="x-tmpl-mustache">
    <div class="checkbox">
        <label>
            <input type="checkbox" {{Checked}} name="ckRoles" value="{{Name}}" />
            <span class="text">{{Description}}</span>
        </label>
    </div>
</script>
@await Html.PartialAsync("_AddEditModal")