<div id="modalManageImage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quản lý ảnh sản phẩm</h5>
                <button type="button" class="bootbox-cancel close" data-dismiss="modal" aria-hidden="True">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="frmManageImage" role="form" class="form-horizontal">
                        <div class="form-group" style="display: flex">

                            @*<label class="col-sm-2 control-label no-padding">Ảnh đã chọn</label>
                            <div class="col-sm-10">
                                <input type="hidden" id="hidIdM" value="0" />
                                <div id="image-list" class="col-md-12"></div>
                            </div>*@
                        </div>

                        <div class="form-group" style="display: flex">
                            <label class="col-sm-2 control-label no-padding">Chọn ảnh</label>
                            <div class="col-sm-6">
                                <div class="input-group">

                                    <input type="file" id="fileImage" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveImage" class="btn btn-primary">Lưu</button>
                <button type="button" id="btnCancel" class="btn btn-dark" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>