@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Đăng nhập</title>

    <!-- Bootstrap -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- NProgress -->

    <link href="~/lib/nprogress/nprogress.min.css" rel="stylesheet" />
    <!-- Animate.css -->

    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/lib/notify/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/admin-site/css/custom.min.css" rel="stylesheet" />
</head>

<body class="login">
    <div>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="frmLogin">
                        @Html.AntiForgeryToken()
                        <h1>Đăng nhập</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" id="txtUserName" name="userName" required="" />
                        </div>
                        <br/>
                        <div>
                            <input type="password" class="form-control" id="txtPassword" name="password" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-primary submit" href="#" id="btnLogin">Đăng nhập</a>
                            <a class="reset_pass" href="#">Quên mật khẩu ?</a>
                        </div>

                        <div class="clearfix"></div>

                        @*<div class="separator">
                                <p class="change_link">
                                    New to site?
                                    <a href="#signup" class="to_register"> Create Account </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>*@
                    </form>
                </section>
            </div>

            @*<div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form>
                            <h1>Create Account</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Username" required="" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" required="" />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" required="" />
                            </div>
                            <div>
                                <a class="btn btn-default submit" href="index.html">Submit</a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Already a member ?
                                    <a href="#signin" class="to_register"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>*@
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/notify/notify.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/localization/messages_vi.js"></script>
    <script src="~/lib/notify/styles/metro/notify-metro.min.js"></script>
    <script src="~/app/Shared/system.js"></script>
    <script src="~/app/Controller/Login/index.js"></script>
    <script>
        var login = new LoginController();
        login.initialize();
    </script>
</body>
</html>