@model IReadOnlyList<ProductCategoryViewModel>
<!-- mobile menu -->
<div id="mobile-menu">
    <ul>
        <li>
            <a href="/Home" class="home1">TRANG CHỦ</a>
        </li>
        <li>
            <a href="#">DANH MỤC SẢN PHẨM</a>
            <ul>
                @foreach (var item in Model.Where(x => x.ParentId == null))
                {
                    <li>
                        <a href="/Product/Catalog/@item.Id">@item.Name</a>
                        <ul>
                            @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><a href="/Product/Catalog/@subItem.Id"><span>@subItem.Name</span></a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="blog.html">MÔ HÌNH KAMEN RIDER</a>
        </li>
        <li>
            <a href="shop_grid.html">MÔ HÌNH SUPER SENTAI</a>
        </li>
        <li>
            <a href="shop_grid.html">MÔ HÌNH GUNDAM</a>
        </li>

        <li><a href="shop_grid.html">BLOG</a></li>
        <li><a href="shop_grid.html">HƯỚNG DẪN MUA HÀNG</a></li>
        <li><a href="shop_grid.html">ĐĂNG NHẬP</a></li>
        <li><a href="shop_grid.html">ĐĂNG XUẤT</a></li>
    </ul>
</div>
<!-- end mobile menu -->