@{
    ViewData["Title"] = "Quản lý đơn hàng";
}

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <script src="~/app/Controller/Bill/index.js" asp-append-version="true"></script>
    <script>
        var bill = new BillController();
        bill.initialize();
    </script>
}
@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />

}
<div class="page-title">
    <div class="title_left">
        <h3>Danh sách đơn hàng </h3>
    </div>

    <div class="title_right">
        <div class="col-md-2 col-sm-2 form-group pull-right">
            <button id="btnCreateBill" class="btn btn-success">Thêm đơn hàng</button>
        </div>
        <div class="col-md-3 col-sm-3 form-group pull-right">
            <div class="input-group">
                <input type="text" class="form-control" id="txt-search-keyword" placeholder="Tìm kiếm">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button"><i class="fas fa-search"></i></button>
                </span>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 form-group pull-right">
            <input type="text" name="txtFromDate" value="" id="txtFromDate" class="form-control" placeholder="Từ ngày" />
        </div>
        <div class="col-md-3 col-sm-3 form-group pull-right">
            <input type="text" name="txtToDate" value="" id="txtToDate" class="form-control" placeholder="Đến ngày" />
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tác vụ</th>
                            <th>Id</th>
                            <th>Tên khách hàng</th>
                            <th>Phương thức thanh toán</th>
                            <th>Ngày đặt hàng</th>
                            <th>Trạng thái</th>
                            <th>Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content">
                    </tbody>
                </table>
                @*Pagination*@
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" roles="status" aria-live="polite">
                            <select id="ddl-show-page">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">Bản ghi/trang</span>
                            Tổng số bản ghi: <strong id="lbl-total-records"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_number" id="datatable-checkbox_paginate">
                            <ul id="paginationUL">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <button class="btn btn-primary btn-sm btn-view" data-id="{{Id}}"><i class="fas fa-eye"></i></button>
            @*<button class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}"><i class="fas fa-trash"></i></button>*@
        </th>
        <th>{{Id}}</th>
        <th>{{CustomerName}}</th>
        <th>{{{PaymentMethod}}}</th>
        <th>{{{DateCreated}}}</th>
        <th>{{{BillStatus}}}</th>
    </tr>
</script>
@await Html.PartialAsync("_DetailModal")