<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
    <meta name="keywords" content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS Style -->
    <link href="~/client-side/style.css" rel="stylesheet" />
</head>

<body class="@ViewData["BodyClass"]">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @await Component.InvokeAsync("MobileMenu")
    <div id="page">

        @await Html.PartialAsync("_Header")
        <nav>
            <div class="container">
                <div class="row">
                    <div class="mm-toggle-wrap">
                        <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                        <span class="mm-label">Danh mục sản phẩm</span>
                    </div>
                    <div class="col-md-3 col-sm-3 mega-container hidden-xs">
                        @await Component.InvokeAsync("CategoryMenu")
                    </div>
                    <div class="col-md-9 col-sm-9 jtv-megamenu">
                        @await Component.InvokeAsync("MainMenu")
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()

        @await Html.PartialAsync("_Footer")
    </div>

    <!-- JS -->
    <!-- jquery js -->

    <script src="~/client-side/js/jquery.min.js"></script>
    <!-- bootstrap js -->

    <script src="~/client-side/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->

    <script src="~/client-side/js/owl.carousel.min.js"></script>

    <!-- jquery.mobile-menu js -->

    <script src="~/client-side/js/mobile-menu.js"></script>

    <!--jquery-ui.min js -->

    <script src="~/client-side/js/jquery-ui.js"></script>

    <!-- main js -->

    <script src="~/client-side/js/main.js"></script>

    <!-- countdown js -->

    <script src="~/client-side/js/countdown.js"></script>

    <!-- Slider Js -->

    <script src="~/client-side/js/revolution-slider.js"></script>
    <script src="~/client-side/js/shared/system.js"></script>
    <script src="~/lib/notify/notify.min.js"></script>
    <script src="~/lib/notify/styles/metro/notify-metro.min.js"></script>
    <script src="~/lib/mustache.js/mustache.min.js"></script>
    <script src="~/client-side/js/controller/base/index.js"></script>
    <script>
        var baseObj = new BaseController();
        baseObj.initialize();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>